<footer class="footer">
  <div class="footer__contenedor">
      <div class="footer__col contacto">
      <div class="social">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="29.4627" height="29.4627" rx="14.7313" fill="#494949"/>
              <path d="M15.7152 24.5521V15.5925H18.7225L19.1728 12.1008H15.7152V9.8715C15.7152 8.86059 15.9959 8.17161 17.4457 8.17161L19.2947 8.17075V5.04784C18.9747 5.00544 17.8773 4.9104 16.6004 4.9104C13.9346 4.9104 12.1095 6.53754 12.1095 9.52587V12.1009H9.09433V15.5926H12.1094V24.5522L15.7152 24.5521Z" fill="#F9F9F9"/>
          </svg>
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.462677" width="29.4627" height="29.4627" rx="14.7313" fill="#494949"/>
              <path d="M21.793 8.10914C20.2137 6.48338 18.0305 5.60083 15.8009 5.60083C11.063 5.60083 7.25406 9.45619 7.30051 14.1477C7.30051 15.6341 7.71856 17.074 8.41532 18.3746L7.20761 22.7874L11.7133 21.6261C12.9674 22.3229 14.3609 22.648 15.7544 22.648C20.4459 22.648 24.2548 18.7927 24.2548 14.1012C24.2548 11.8252 23.3723 9.68845 21.793 8.10914ZM15.8009 21.2081C14.5467 21.2081 13.2926 20.8829 12.2242 20.2326L11.9455 20.0933L9.25142 20.79L9.94817 18.1424L9.76237 17.8637C7.71856 14.5657 8.69402 10.1994 12.0384 8.15559C15.3828 6.11178 19.7027 7.08724 21.7465 10.4316C23.7903 13.7761 22.8149 18.0959 19.4705 20.1397C18.4021 20.8365 17.1015 21.2081 15.8009 21.2081ZM19.8885 16.0521L19.3776 15.8199C19.3776 15.8199 18.6344 15.4947 18.1699 15.2625C18.1234 15.2625 18.077 15.216 18.0305 15.216C17.8912 15.216 17.7983 15.2625 17.7053 15.3089C17.7053 15.3089 17.6589 15.3554 17.0086 16.0986C16.9621 16.1915 16.8692 16.2379 16.7763 16.2379H16.7299C16.6834 16.2379 16.5905 16.1915 16.5441 16.145L16.3118 16.0521C15.8009 15.8199 15.3364 15.5412 14.9648 15.1696C14.8719 15.0767 14.7325 14.9838 14.6396 14.8909C14.3145 14.5657 13.9893 14.1941 13.7571 13.7761L13.7106 13.6832C13.6642 13.6367 13.6642 13.5903 13.6177 13.4974C13.6177 13.4045 13.6177 13.3116 13.6642 13.2651C13.6642 13.2651 13.85 13.0329 13.9893 12.8935C14.0822 12.8006 14.1287 12.6613 14.2216 12.5684C14.3145 12.429 14.3609 12.2432 14.3145 12.1039C14.268 11.8716 13.7106 10.6174 13.5713 10.3387C13.4784 10.1994 13.3855 10.1529 13.2461 10.1065H13.1068C13.0139 10.1065 12.8745 10.1065 12.7352 10.1065C12.6423 10.1065 12.5494 10.1529 12.4565 10.1529L12.41 10.1994C12.3171 10.2458 12.2242 10.3387 12.1313 10.3852C12.0384 10.4781 11.992 10.571 11.8991 10.6639C11.5739 11.0819 11.3881 11.5929 11.3881 12.1039C11.3881 12.4755 11.481 12.8471 11.6204 13.1722L11.6668 13.3116C12.0849 14.1941 12.6423 14.9838 13.3855 15.6805L13.5713 15.8663C13.7106 16.0057 13.85 16.0986 13.9429 16.2379C14.9183 17.074 16.0331 17.6779 17.2873 18.003C17.4266 18.0495 17.6124 18.0495 17.7518 18.0959C17.8912 18.0959 18.077 18.0959 18.2163 18.0959C18.4486 18.0959 18.7273 18.003 18.9131 17.9101C19.0524 17.8172 19.1453 17.8172 19.2382 17.7243L19.3311 17.6314C19.424 17.5385 19.5169 17.4921 19.6098 17.3992C19.7027 17.3063 19.7956 17.2134 19.8421 17.1205C19.935 16.9347 19.9814 16.7024 20.0279 16.4702C20.0279 16.3773 20.0279 16.2379 20.0279 16.145C20.0279 16.145 19.9814 16.0986 19.8885 16.0521Z" fill="#F9F9F9"/>
          </svg>
          <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.925354" width="29.4627" height="29.4627" rx="14.7313" fill="#494949"/>
              <path d="M6.82146 9.06291C9.26447 11.1319 13.5512 14.7718 14.8111 15.9067C14.9803 16.0599 15.1617 16.1378 15.35 16.1378C15.5379 16.1378 15.719 16.0606 15.8878 15.9082C17.1488 14.7722 21.4355 11.1319 23.8785 9.06291C24.0306 8.93434 24.0538 8.70836 23.9307 8.55119C23.646 8.18798 23.2216 7.97974 22.7667 7.97974H7.93325C7.4784 7.97974 7.05395 8.18799 6.76932 8.55122C6.64617 8.70836 6.66936 8.93434 6.82146 9.06291Z" fill="#F9F9F9"/>
              <path d="M24.0344 10.184C23.903 10.1228 23.7483 10.1441 23.6389 10.2376C22.039 11.5938 19.9309 13.3857 18.3411 14.7532C18.2575 14.8249 18.2104 14.9303 18.2122 15.0407C18.214 15.1508 18.2651 15.2548 18.3513 15.3236C19.8285 16.5067 22.0546 18.1342 23.6621 19.2909C23.7262 19.3372 23.8023 19.3608 23.8787 19.3608C23.9366 19.3608 23.9946 19.3474 24.0478 19.3198C24.1717 19.2565 24.2495 19.129 24.2495 18.9899V10.5204C24.2495 10.3759 24.1655 10.2445 24.0344 10.184Z" fill="#F9F9F9"/>
              <path d="M7.03667 19.2908C8.6446 18.1341 10.8711 16.5066 12.3479 15.3235C12.4341 15.2547 12.4852 15.1507 12.487 15.0407C12.4888 14.9302 12.4417 14.8248 12.3581 14.7531C10.7682 13.3857 8.65979 11.5937 7.05986 10.2375C6.94976 10.1441 6.79477 10.1235 6.6644 10.1839C6.53329 10.2444 6.44926 10.3759 6.44926 10.5203V18.9899C6.44926 19.1289 6.52714 19.2564 6.65098 19.3198C6.7042 19.3473 6.76216 19.3607 6.82011 19.3607C6.89653 19.3607 6.97256 19.3372 7.03667 19.2908Z" fill="#F9F9F9"/>
              <path d="M23.7946 20.2999C22.2421 19.1892 19.3822 17.1185 17.6751 15.7329C17.536 15.6196 17.3346 15.6232 17.1978 15.7412C16.8628 16.0335 16.5825 16.2798 16.3836 16.4586C15.773 17.0098 14.9256 17.0098 14.3136 16.4579C14.1155 16.2794 13.8352 16.0324 13.5002 15.7412C13.3644 15.6224 13.1627 15.6188 13.0233 15.7329C11.3219 17.1137 8.45876 19.187 6.90371 20.2999C6.81714 20.3622 6.76137 20.4582 6.75053 20.5643C6.74003 20.6704 6.77514 20.7758 6.84794 20.854C7.12864 21.1564 7.52411 21.3299 7.93226 21.3299H22.7658C23.1739 21.3299 23.569 21.1564 23.8504 20.854C23.9228 20.7761 23.9583 20.6708 23.9478 20.5647C23.9369 20.4586 23.8812 20.3622 23.7946 20.2999Z" fill="#F9F9F9"/>
          </svg>
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.388031" width="29.4627" height="29.4627" rx="14.7313" fill="#494949"/>
              <path d="M13.7493 16.1038C12.226 14.5805 11.882 13.0571 11.8044 12.4468C11.7827 12.278 11.8408 12.1088 11.9616 11.9889L13.1943 10.7567C13.3757 10.5755 13.4078 10.293 13.2719 10.0757L11.3091 7.02787C11.1587 6.78716 10.85 6.70029 10.5962 6.82727L7.44518 8.31126C7.23992 8.41234 7.11919 8.63042 7.14249 8.85803C7.3076 10.4265 7.99139 14.2822 11.7805 18.0716C15.5696 21.8609 19.4247 22.5445 20.994 22.7096C21.2216 22.7329 21.4397 22.6121 21.5408 22.4069L23.0248 19.2559C23.1513 19.0026 23.065 18.6947 22.8253 18.544L19.7775 16.5818C19.5602 16.4457 19.2778 16.4777 19.0965 16.6588L17.8642 17.8916C17.7444 18.0123 17.5751 18.0704 17.4064 18.0487C16.796 17.9711 15.2727 17.6272 13.7493 16.1038Z" fill="#F9F9F9"/>
              <path d="M19.7981 15.2822C19.4941 15.2822 19.2477 15.0358 19.2477 14.7319C19.2451 12.4534 17.3987 10.6069 15.1202 10.6043C14.8162 10.6043 14.5698 10.3579 14.5698 10.054C14.5698 9.75006 14.8162 9.50366 15.1202 9.50366C18.0063 9.50685 20.3452 11.8457 20.3484 14.7319C20.3484 15.0358 20.102 15.2822 19.7981 15.2822Z" fill="#F9F9F9"/>
              <path d="M22.5498 15.2822C22.2458 15.2822 21.9994 15.0358 21.9994 14.7319C21.9952 10.9343 18.9177 7.85688 15.1202 7.85264C14.8162 7.85264 14.5698 7.60624 14.5698 7.30229C14.5698 6.99835 14.8162 6.75195 15.1202 6.75195C19.5254 6.75681 23.0953 10.3267 23.1001 14.7319C23.1001 14.8779 23.0421 15.0178 22.9389 15.121C22.8357 15.2243 22.6957 15.2822 22.5498 15.2822Z" fill="#F9F9F9"/>
          </svg>
 
      </div>
      <p class="direccion">
          Laprida 406 · Reconquista · Santa Fé <br />T.E: 0379 4468111 - 0379 154868162
      </p>
      </div>
      <div class="footer__col-contenedor">
      <div class="footer__col categorias">
          <h6 class="titulo">Categorías</h6>
          <ul>
              <li>
                  <a href="#">Cubiertas</a>
              </li>
              <li>
                  <a href="#">Repuestos</a>
              </li>
              <li>
                  <a href="#">Indumentaria</a>
              </li>
              <li>
                  <a href="#">Cascos</a>
              </li>
              <li class="ver-mas">
                  <a href="#">Ver más categorías</a>
              </li>
          </ul>
      </div>
      <div class="footer__col nosotros">
          <h6 class="titulo">Sobre nosotros</h6>
          <ul>
              <li>
                  <a href="#">Institucional</a>
              </li>
              <li>
                  <a href="#">Puntos de colocación</a>
              </li>
              <li>
                  <a href="#">Blog</a>
              </li>
              <li>
                  <a href="#">Sé parte de nuestro equipo</a>
              </li>
          </ul>
      </div>
      <div class="footer__col ayuda">
          <h6 class="titulo">Ayuda</h6>
          <ul>
              <li>
                  <a href="#">Preguntas Frecuentes</a>
              </li>
              <li>
                  <a href="#">Métodos de Pago</a>
              </li>
              <li>
                  <a href="#">Métodos de Envío</a>
              </li>
              <li>
                  <a href="#">Guía de Compras</a>
              </li>
              <li>
                  <a href="#"><strong>Arrepentimiento de Compra</strong></a>
              </li>
          </ul>
      </div>
  </div>
  </div>
  <div class="footer__bottom">
      <p>© 2021 Todos los derechos reservados</p>
      <div class="logos">
      <a href="#" class="logo">
          <img src="https://qamotomercado.vteximg.com.br/arquivos/logo-hot-sale.png" alt="Hot Sale"/>    
      </a>
      <a href="https://innew.la/" class="logo">
          <img src="https://qamotomercado.vteximg.com.br/arquivos/logo-innew.png" alt="INNEW LA"/>    

      </a>
      <a href="https://secure.vtex.com/?an=motomercado.com.ar" class="logo">
          <img src="https://qamotomercado.vteximg.com.br/arquivos/logo-vtex-pci.png" alt="Certificado Vtex PCI"/>    
                        
      </a>
      <a href="https://vtex.com/ar-es/" class="logo">
          <img src="https://qamotomercado.vteximg.com.br/arquivos/logo-vtex.png" alt="VTEX"/>    
   
      </a>
      <a href="https://www.cace.org.ar/" class="logo">
          <img src="https://qamotomercado.vteximg.com.br/arquivos/logo-cace.png" alt="Cámara Argentina de Comercio Electrónico"/>    
 
      </a>
  </div>
  </div>
</footer>