<!-- Librerias -->
<script src="/arquivos/swiper-bundle.min.js"></script>

<!-- VueJS -->
<script src="/arquivos/vue.min.js"></script>
<script src="/arquivos/vue-router.min.js"></script>


<!-- Scripts compartidos en todas las paginas -->
<script src="/arquivos/00--commons.js"></script>

<script src="/files/00--vue-buscador-por-moto.js"></script>