<!-- Fuentes -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700" rel="stylesheet" />

<!-- Librerias -->
<link href="/arquivos/tailwind.min.css" rel="stylesheet" />
<link href="/arquivos/swiper-bundle.min.css" rel="stylesheet" />

<!-- Estilos compartido en todas las paginas -->
<link href="/arquivos/00--all.css" rel="stylesheet"  />
<link href="/arquivos/00--buscador-por-moto.css" rel="stylesheet"  />