/* CLASES DEL CONTROL VTEX */

#vtexIdUI-global-loader {
  background: url(/arquivos/background--login.jpg) !important;
  background-size: cover !important;
  opacity: 1 !important;
  z-index: 10 !important;
}


.login__container {
  z-index: 11 !important;
  position: absolute;
  color: white;
  width: 80%;
  top: 65%;
  left: 10%;
  padding: 40px 0;
  text-align: center;
}

.login__frase {
  font-size: 2em;
}

.login__img {
  margin-top: 30px;
  width: 100px;
  margin: auto;
  cursor: pointer;
}

.vtexIdUI {
  font-family: "Montserrat" !important;
  width: 80% !important;
  top: 5% !important;
  right: 10% !important;
  left: auto !important;
  height: 400px !important;
border-radius: 0px !important;
border: none !important;
}

.vtexIdUI .vtexIdUI-page {
  padding: 2% 0%;
  text-align: center;
}

.vtexIdUI .modal-header {
  background: #fff !important;
  border-bottom: 1px solid #fff !important;
}

.modal-header:before {
  content: "Iniciar SesiÃ³n";
  font-size: 1.35em;
  padding: 10px 20px;
  padding-left: 50px;
  display: inline-block;
  margin-bottom: 15px;
  color: #666;
  background: url(/arquivos/login-user.png) no-repeat;
  background-size: 36px;
  background-position-y: 5px;
}

/* BOTONES OPCIONES DE INGRESO */
.vtexIdUI .btn {
  border-radius: 0 !important;
  box-shadow: 0 4px 0 rgb(0 0 0 / 0%) !important;
}

.vtexIdUI .btn.vtexIdUI-others-send-email {
  color: white !important;
  background-color: red !important;
  background-image: none !important;
}

.vtexIdUI .btn-success {
  color: red !important;
  background-color: #eee !important;
  background-image: none !important;
  background-repeat: repeat-x;
  border-color: red !important;
}

.vtexIdUI .vtexIdUI-providers-list .vtexIdUI-send-email i {
  right: 88% !important;
}

.vtexIdUI .vtexIdUI-providers-list .btn i, .vtexIdUI .account-list .btn i {
  font-size: 36px !important ;
  top: 3px !important;
  left: 10px !important;
  opacity: 1 !important;
  
}

#loginWithAccessKeyBtn {
  background-color: white !important;
}

.vtexid-icon-google-plus.vtexIdUI-providers-i,
.vtexIdUI #vtexIdUI-facebook i {
  display: none !important;
} 

.vtexid-icon-mail {
  border-right: 1px solid red !important;
  padding-right: 20px !important;
  display: none;
}

.vtexIdUI #vtexIdUI-google-plus {
  font-weight: normal !important; 
}

@media (min-width: 678px) {

.vtexid-icon-mail {
  display: block;
}

#loginWithAccessKeyBtn {
  font-size: 15px;
}


  .login__container {
      width: 35%;
      top: 25%;
      left: 10%;
      padding: 40px 0;
      text-align: left;
  }

  .login__frase {
      font-size: 3.5em;
  }

  .login__img {
      width: 110px;
      margin: 0;
  }
  
  .vtexIdUI {
      width: 40% !important;
      top: 25% !important;
      right: 15% !important;
      left: auto !important;
  }

  .vtexIdUI .vtexIdUI-page {
      padding: 2% 6%;
  }

  .modal-header:before {
      content: "Iniciar Sesión";
      font-size: 1.75em;
      padding: 5px 50px;
      padding-bottom: 10px;
      display: inline-block;
      margin-bottom: 15px;
      color: #666;
      background: url(/arquivos/login-user.png) no-repeat;
      background-size: 36px;
      background-position-y: 5px;
  }
}

@media (min-width: 1400px) {

  .login__container {
      width: 35%;
      top: 25%;
      left: 15%;
  }
  .vtexIdUI {
      width: 35% !important;
      right: 15% !important;
  }
}