.vtex-account__page header {
  position: relative;
  background: transparent !important;
  box-shadow: none;
  height: 120px;
  margin-top: -40px;
  z-index: 10;
  transform: translate3d(0, 0%, 0) !important;

}

.vtex-account__user-name.f4.c-on-base.fw3.nowrap {
  font-weight: bold;
}

.vtex-account__menu-links .b--action-primary {
  border-color: transparent;
  border-left: 5px solid #FC5226;
  background-color: transparent;
  color: #FC5226;
  font-weight: 500;
}

.vtex-account__menu-links .b--action-primary:hover {
  border-color: transparent;
  border-left: 5px solid #FC5226;
  background-color: #fecaca57;
  color: #FC5226;
}

.vtex-account_menu-link:hover {
  border-color: transparent;
  border-left: 5px solid #FC5226;
  background-color: #fecaca57;
  color: #FC5226;
}

button.vtex-button.bw1.ba.fw5.v-mid.relative.pa0.lh-solid.br2.min-h-regular.t-action.bg-transparent.b--transparent.c-action-primary.hover-b--transparent.hover-bg-action-secondary.hover-b--action-secondary.pointer:hover {
  color: #FC5226;
}

button.vtex-button.bw1.ba.fw5.v-mid.relative.pa0.lh-solid.br2.min-h-regular.t-action.bg-transparent.b--transparent.c-action-primary.hover-b--transparent.hover-bg-action-secondary.hover-b--action-secondary.pointer {
  color: #FC5226;
  background-color: #fecaca57;

}

.vtex-radio .bg-action-primary {
  background-color: #fc5226;
}

.b--action-primary {
  border-color: transparent;
  background-color: transparent;
  color: #FC5226;
}

.b--action-primary:hover, button.vtex-button.bw1.ba.fw5.v-mid.relative.pa0.br2.min-h-small.t-action--small.bg-action-primary.b--action-primary.c-on-action-primary.hover-bg-action-primary.hover-b--action-primary.hover-c-on-action-primary.pointer.w-100:hover  {
  background-color: #fecaca57;
  border-color: transparent;
  color: #FC5226;
}

button.vtex-button.bw1.ba.fw5.v-mid.relative.pa0.br2.min-h-small.t-action--small.bg-transparent.b--transparent.c-action-primary.hover-b--transparent.hover-bg-action-secondary.hover-b--action-secondary.pointer:hover 
{
  background-color: #fecaca57;
  border-color: transparent;
  color: #FC5226;
}

.vtex-account__menu.pv9.pv0-m-2.ph9.ph7-m.ph8-l.w-20-m.w-100 {
  border-right: 2px solid #ddd;
}



button.vtex-button.bw1.ba.fw5.v-mid.relative.pa0.br2.min-h-small.t-action--small.bg-transparent.b--transparent.c-action-primary.hover-b--transparent.hover-bg-action-secondary.hover-b--action-secondary.pointer {
  color: #FC5226;
}

.vtex-pageHeader__title.t-heading-2.order-0.flex-grow-1 {
  font-family: 'Montserrat';
  font-weight: 600;
}

.pa4-s {
  padding-top: 75px;
}

section.vtex-account__page.w-100.w-80-m {
  padding-left: 35px;
}

.vtex-profile-form__profile-summary {
  font-size: 1.3em;
}

.c-on-disabled {
  color: #000;
  font-weight: 500;
  margin-top: -5px;
}

button.vtex-button.bw1.ba.fw5.ttu.br2.fw4.v-mid.relative.pv3.ph5.f6.bg-washed-blue.b--washed-blue.blue.hover-bg-light-blue.hover-b--light-blue.hover-heavy-blue.pointer.w-100
{    background-color: transparent;
border-color: transparent;
  color: #FC5226;
border-bottom: 2px solid;
}

button.vtex-button.bw1.ba.fw5.ttu.br2.fw4.v-mid.relative.pv3.ph5.f6.bg-washed-blue.b--washed-blue.blue.hover-bg-light-blue.hover-b--light-blue.hover-heavy-blue.pointer.w-100:hover
{
  color: #FC5226;
background-color: #fecaca57;
border-bottom: 2px solid;
}

.c-link {
  color: #fc5226;
}

.c-link:hover {
  color: #ef4444;
}

.w1 {
  width: 1rem;
  background-color: #6b7280;
}

article.ba.bw1.b--muted-4.br2.flex.flex-column.justify-between {
  border: black 1px solid;
  border-radius: 0;
}

a.pointer.c-link.hover-c-link.active-c-link.no-underline.underline-hover {
  display: block;
  margin-bottom: 20px;
}

a.vtex-account_menu-link {
  font-size: 1.2em;
  margin: 0;
}

@media (max-width:768px) {
  .vtex-account__page header {
  margin-top: 0px;
  transform: translate3d(0, 0%, 0) !important;
  }

  .vtex-account__page header {
      margin-top: -70px;
  }
}