/*-------------------------------------------*\
    Generales
\*-------------------------------------------*/

@media (min-width: 600px){

  .swiper-button-prev,
  .swiper-button-next{
      height: 100%;
      top: 10px;
      display: flex;
      align-items: center;
  }

  .swiper-button-disabled{
      pointer-events: auto !important;
  }
  .contenedor{
      width: 100%;
      max-width: 1366px;
  }

}
@media (min-width: 1366px){

  .contenedor{  
      margin: 0 auto;
  }

}

/*-------------------------------------------*\
  Slider principal
\*-------------------------------------------*/
/* .slider-principal {
  margin-top: 60px;
} */
.slider-principal-desktop{
  display: none;
}
.slider-principal .swiper-button-prev,
.slider-principal .swiper-button-next{
  display: none;
}
.slider-principal .swiper-container{
  width: 100%;
  height: 309px;
}
.slider-principal .swiper-slide{
  width: 100%;
 height: auto;
}
  .slider-principal  img{
      height: 309px;
  }
 
 
  .slider-principal  .swiper-pagination-bullet{
      background: #c4c4c4;
  }
  .slider-principal  .swiper-pagination-bullet.swiper-pagination-bullet-active{
      background: #fff;
  }

@media (max-width: 600px){

  .slider-principal .swiper-container .swiper-pagination-bullets{
      bottom: 44%;
      left: 92%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 40px;
  } 

}
 
@media (min-width: 600px){

  .slider-principal-desktop{
      display: block;
  }
  .slider-principal-mobile{
      display: none;
  }
  .slider-principal .swiper-container{
      height: auto;
  }
  .slider-principal .swiper-container .swiper-pagination-bullets{
      bottom: 35px;
  } 
}
/* @media (min-width: 768px){
  .slider-principal {
      padding-top: 2.2rem;
  }
} */

/*-------------------------------------------*\
 Buscador por moto
\*-------------------------------------------*/
.buscador-moto{
  width: 90%;
  margin: 0 auto;
  position: relative;
  bottom: 3.5rem;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.buscador-moto-desktop{
  display: none;
}
@media (min-width: 768px){
  .buscador-moto{
      bottom: 2rem;
  }

  .buscador-moto-mobile{
      display: none;
  }
  .buscador-moto-desktop{
      display: block;
  }

}

/*-------------------------------------------*\
  Ítems refuerzos de confianza
\*-------------------------------------------*/
.items-section{
  margin-top: -4rem;
}

  .items-section .swiper-container{
      width: 100%;
      height: 90px;
  }
      .items .swiper-slide{
          width: 70%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          padding: 0.5rem 1rem;
      }
      .items .swiper-slide  img{
        width: 21%;
      }
          .items .swiper-slide  p{
              color: #646464;
              margin-left: 0.8rem;
              font-size: 3vw;
              width: 70%;
          }
          
@media (min-width: 600px){

  .items .swiper-slide  img{
      width: auto;
  }
  .items .swiper-slide  p{
      font-size: 2vw;
      width: auto;
  }
  .items .swiper-slide {
      width: 42%;
  }

}

@media (min-width: 768px){

  .items-section{
      margin-top: 0;
  }
  .items .swiper-slide{
      width: 24%;
      padding: 1rem;
  }
  .items .swiper-slide  img{
      width: auto;
  }
  .items .swiper-slide  p{
      font-size: 0.8vw;
      width: auto;
  }
}

/*-------------------------------------------*\
  Carrusel estándar
\*-------------------------------------------*/

.carrusel-productos{
  padding: 2rem 1rem;
  padding-bottom: 3rem;

}
.carrusel-prod .swiper-container{
  width: 90%;
}
.carrusel-prod .swiper-slide{
  -webkit-box-shadow: 10px 10px 10px 3px rgba(244,244,244,1);
  -moz-box-shadow: 10px 10px 10px 3px rgba(244,244,244,1);
  box-shadow: 10px 10px 10px 3px rgba(244,244,244,1);
}

 
.carrusel-productos .carrusel-prod h2{
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1.05rem;
  text-align: center;
}
.carrusel-prod .swiper-slide{
  width: 190px;
}

@media (min-width: 768px){

  .carrusel-productos{
      padding: 2rem 1rem;
      padding-bottom: 5rem;
  }
  
  .carrusel-productos .carrusel-prod h2{
      padding-left: 4rem; 
      text-align: left;
  }

}

/*-------------------------------------------*\
  Banners-categorías
\*-------------------------------------------*/

.banners-container .box-banner{
margin-bottom: 1rem;
}

@media (min-width: 600px){

  .banners-container .box-banner{
      width: 32%;
  }

}

/*-------------------------------------------*\
  Multicarrusel
\*-------------------------------------------*/


.multicarrusel__titulo-desk{
  display: none;
  margin: 0;
  color: #fff;
  font-weight: 600;
  background-image: url(https://qamotomercado.vteximg.com.br/arquivos/fondo-titulo-desk.png);
  background-repeat: no-repeat;
}
.multicarrusel__titulo-tabs{
  display: flex;
  justify-content: space-between;
  height:38px;
}
.multicarrusel__titulo-tabs h3{
  margin: 0;
  padding: 1rem;
  color: #fff;
  width:60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-image: url(https://qamotomercado.vteximg.com.br/arquivos/fondo-titulo-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
}
  .multicarrusel-tabs {
      display: flex;
      width: 40%;
      justify-content: space-between;
  }
  .multicarrusel-tabs .multicarrusel-tab {
      background: #EAEAEA;
      border: none;
      width: 32%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 4px 4px 0 0;
  }
.multicarrusel-tab img{
  width: 29px;
}
.multicarrusel-tab p{
  display: none
}
 
  .multicarrusel-tabs .multicarrusel-tab.multicarrusel-active {
      background: #FF8200;
      outline: none;
  }
  .multicarrusel-content{
      position: relative;
      width: 100%;
      height: 510px;
  }
  .multicarrusel-item {
      width: 100%;
      z-index: 1;
      opacity:0;
      position: absolute;
  }
  .multicarrusel-item__container{
      border: 2px solid #494949;
      -webkit-box-shadow: inset 6px 0px 0px -1px rgba(253,121,0,1);
      -moz-box-shadow: inset 6px 0px 0px -1px rgba(253,121,0,1);
      box-shadow: inset 6px 0px 0px -1px rgba(253,121,0,1);
  }
  .multicarrusel-item__label {
      display: none;
  }
  .multicarrusel-item.multicarrusel-active {
      z-index: 2;
      opacity: 1;
  }
 
.multicarrusel .swiper-slide{
  width: 190px;
}
.swiper-button-next:after, 
.swiper-button-prev:after{
  display: none;
}
.swiper-button-next{
  background-image: url(https://qamotomercado.vteximg.com.br/arquivos/chevron_right.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev{
  background-image: url(https://qamotomercado.vteximg.com.br/arquivos/chevron_left.svg);
  background-position: center;
  background-repeat: no-repeat;
}



@media (min-width: 600px){

.multicarrusel__titulo-tabs{
 height: 220px;
}
  .multicarrusel__titulo-tabs h3{
   display: none;
  
  }
  .multicarrusel__titulo-desk{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
    margin-left: 5.5rem;
    text-align: center;
    font-size: 0.9rem;
    height: 40px;
  }
  .multicarrusel__container{
    display: flex;
    flex-wrap: wrap;
  }
  .multicarrusel__titulo-tabs{
    width: 13%;

  }
  .multicarrusel-tabs{
    flex-direction: column;
    width: 100%;
    height: 220px;
  }
  .multicarrusel-tabs .multicarrusel-tab{
    width: 100%;
    height: 33%;
    border-radius: 4px 0 0 4px;
    margin-bottom: 0.3rem;
  }
  .multicarrusel-tab img{
    width: 43px;
  }
  .multicarrusel.kit-moto .multicarrusel-tab img{
    width: 63px;
  }
  .multicarrusel-tab p{
    display: block;
    font-size: 9px;
    font-weight: 600;
  }
  .multicarrusel-content{
    width: 85%;
    height: 430px;
  
  }
   
}

@media (min-width: 800px){

  .multicarrusel__titulo-tabs{
    width: 7%;

  }
  .multicarrusel__titulo-desk{
    font-size: 1.1rem;
  }
  .multicarrusel-content{
    width: 92%;
    height: 400px;
  
  }
}
/*-------------------------------------------*\
  Flechas abajo en carruseles
\*-------------------------------------------*/

@media (max-width: 400px){

.carrusel-prod .swiper-container {
    padding-bottom: 5rem;
    margin-bottom: -1rem;
}
.swiper-button-next, .swiper-button-prev{
  top: 91%;
}

.swiper-button-next{
  right: 40%;
}
.swiper-button-prev{
  left: 40%;
}

}

@media (max-width: 600px){

.swiper-button-next, .swiper-button-prev{
  top: 95%;
  height: 10%;
}
.swiper-button-next{
  right: 40%;
}
.swiper-button-prev{
  left: 40%;
}
.carrusel-prod .swiper-container{
  padding-bottom: 3rem;
}

}  


/*-------------------------------------------*\
  Banners-promoción
\*-------------------------------------------*/

.banner-promocion-contenedor-desktop{
  display: none;
}
@media (min-width: 600px){

  .banner-promocion-contenedor-desktop{
      display: block;
  }
  .banner-promocion-contenedor-mobile{
      display: none;
  }

}

/*-------------------------------------------*\
  Banners-categorías
\*-------------------------------------------*/

.banners-categorias-section{
  display: flex;
  justify-content: center;
}

@media(min-width: 600px) and (max-width: 768px){

  .banners-container{
      flex-direction: row;
  }
  .banners-container .box-banner{
      width: 30%;
  }

}

/*-------------------------------------------*\
  Carrusel categorías
\*-------------------------------------------*/

.carrusel-categorias{
  margin: 3rem 0;
}

  .carrusel-categorias-swiper{
      width: 100%;
      padding: 1rem;
  }

  .carrusel-categorias  .swiper-slide{
      width: 130px;
      height: auto;
      box-shadow: none;
      background-color: transparent;

  }

  .carrusel-categorias .swiper-button-prev,
  .carrusel-categorias .swiper-button-next{
      display: none;
  }

@media (min-width: 600px){

  .carrusel-categorias{
      margin: 4rem 0;
      margin-top: 6rem;
  }
  .carrusel-categorias .swiper-button-prev,
  .carrusel-categorias .swiper-button-next{
      display: block;
  }
  .carrusel-categorias .swiper-button-next:after,
  .carrusel-categorias .swiper-button-prev:after {
      font-size: 25px;
      color: #666666;
  }

}

/*-------------------------------------------*\
  Carrusel multimedia
\*-------------------------------------------*/

.carrusel-multimedia{
  background-color: #f4f4f4;
}
.carrusel-multimedia .swiper-container{
  height: auto;
}
.carrusel-multimedia .swiper-wrapper{
  display: flex;
  align-items: center;
}
.carrusel-multimedia .swiper-slide{
  opacity: 0.5;
  background: transparent;
  height: 300px;
  width: 67%;
}


.carrusel-multimedia .contenedor-contenido-multimedia{
  width: 100%;
  height: 100%;
}
.carrusel-multimedia iframe{
  width: 100%;
  height: 100%;
  
}
  .carrusel-multimedia  .swiper-button-prev,
  .carrusel-multimedia  .swiper-button-next{
      display: flex;
      background-image: none;
  }
  .carrusel-multimedia .swiper-button-next:after,
  .carrusel-multimedia  .swiper-button-prev:after {
      display: block;
      color: #666666;
  }

@media (max-width: 768px){

  .carrusel-multimedia{
      height: 45vh;
      padding: 4rem 0;
  }
  .carrusel-multimedia .swiper-container{
      height: auto;
  }
  .carrusel-multimedia .contenedor-contenido-multimedia{
      height: 70%;
  }
  .carrusel-multimedia  .swiper-slide{
      width: 85%;
      box-shadow: none;
      height: 200px;
  }
  .carrusel-multimedia .swiper-slide.swiper-slide-active{
      transform: scale(1.7, 1.3);
      -webkit-transform: scale(1.7, 1.3);
      -moz-transform: scale(1.7, 1.3);
      -ms-transform: scale(1.7, 1.3);
      -o-transform: scale(1.7, 1.3);
      z-index: 2;
      opacity: 1;
  }

  .carrusel-multimedia  .swiper-button-prev{
      top: 100%;
      left: 40%;
      height: 10%;
      
  }
  .carrusel-multimedia  .swiper-button-next{
      top: 100%;
      right: 40%;
      height: 10%;

  }
  .carrusel-multimedia  .swiper-button-prev::after,
  .carrusel-multimedia  .swiper-button-next:after{
      font-size: 25px;
  }

}

@media (min-width: 600px){

  .carrusel-multimedia{
      height: 75vh;
  }

}

@media (min-width: 768px){

  .carrusel-multimedia{
      height: 65vh;
  }

  .carrusel-multimedia  .swiper-slide.swiper-slide-active{
      transform: scale(1.6, 1.4);
      -webkit-transform: scale(1.6, 1.4);
      -moz-transform: scale(1.6, 1.4);
      -ms-transform: scale(1.6, 1.4);
      -o-transform: scale(1.6, 1.4);
      z-index: 2;
      opacity: 1;
  }   
  .carrusel-multimedia  .swiper-button-prev,
  .carrusel-multimedia  .swiper-button-next{
      top: 20px;
  }
  .carrusel-multimedia  .swiper-button-prev{
      padding-right: 276px;
      margin-left: 10px;

  }
  .carrusel-multimedia  .swiper-button-next{
      padding-left: 276px;
      margin-right: 10px;
  }

}   



/*-------------------------------------------*\
  Banners-blog
\*-------------------------------------------*/
.banners-entradas-blog {
  display: flex;
  justify-content: center;
}
.banners-container .box-banner{
margin-bottom: 1rem;
}


/*-------------------------------------------*\
  Carrusel marcas
\*-------------------------------------------*/
.carrusel-marcas{
  margin: 2rem 0;
}
  .carrusel-marcas-container{
      width: 95%;
      margin: 0 auto;
  }
  .carrusel-marcas-container .swiper-container{
      height: 150px;
  }
 
  .carrusel-marcas .swiper-wrapper .swiper-slide{
      width: 150px;
      height: 130px;
      box-shadow: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

  }
  .carrusel-marcas .swiper-button-prev,
  .carrusel-marcas .swiper-button-next{
      display: none;
  }

@media(min-width: 768px){

  .carrusel-marcas .swiper-button-prev,
  .carrusel-marcas .swiper-button-next{
      display: block;
  }
  .carrusel-marcas .swiper-button-next:after,
  .carrusel-marcas .swiper-button-prev:after {
      font-size: 25px;
      color: #666666;
  }
}