/*-------------------------------------------*\
  Buscador Por Moto
\*-------------------------------------------*/

.v-buscador-por-moto{
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.19));
  border-top: 2px solid #FC5226;
  background-color: #fff;
}

  .v-buscador-por-moto__fondo{
    color: #fff;
    background-image: url(/arquivos/bg-buscador-por-moto-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 .5rem;
  }

    .v-buscador-por-moto__title{
      text-align: center;
      padding: .5rem 0;
    }
      .v-buscador-por-moto__title h3{
        font-size: 3.7vw;
        font-weight: 600;
      }
      .v-buscador-por-moto__title h5{
        font-size: 2.5vw;
      }

    .v-buscador-por-moto__seleccion{
      padding: .5rem .3rem 35px;
      position: relative;
    }
    
      .v-buscador-por-moto__campos--elegidos{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
        .v-buscador-por-moto__campo{
          display: flex;
          flex-direction: column;
          background-color: #232425;
          border: 1px solid #45474A;
          padding: 2vw 0;
          width: 31%;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
          .v-buscador-por-moto__campo--sel{
            font-weight: 500;
            font-size: 4.5vw;
          }
          .v-buscador-por-moto__campo--title{
            color: #FD9A3F;
            font-size: 3vw;
          }

  .v-buscador-por-moto__img-moto{
    position: relative;
  }

    .v-buscador-por-moto__btn-submit{
      position: absolute;
      width: 12%;
      left: 44%;
      top: -20px;
      cursor: pointer;
    }
      .v-buscador-por-moto__btn-submit svg{
        width: 100%;
        height: auto;
      }


/* Version Mobile Horizontal */
@media (min-width: 640px) {

}

/* Version Tablet */
@media (min-width: 768px) {

}

/* Version Laptop */
@media (min-width: 1024px) {

  .v-buscador-por-moto{
    display: flex;
    align-items: center;
  }

    .v-buscador-por-moto__fondo{
      background-image: url(/arquivos/bg-buscador-por-moto-desk.png);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      height: 100%;
      padding: .5rem 1rem;
      clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
    }

      .v-buscador-por-moto__title{
        text-align: left;
        padding: 0;
        width: 35%;
      }
        .v-buscador-por-moto__title h3{
          font-size: 1rem;
          line-height: 1.2rem;
        }
        .v-buscador-por-moto__title h5{
          font-size: .8rem;
          display: none;
        }

      .v-buscador-por-moto__seleccion{
        padding: 0;
        width: 63%;
      }

        .v-buscador-por-moto__campos--elegidos{
        width: 80%;
        }
          .v-buscador-por-moto__campo{
            padding: .5rem 0;
          }
            .v-buscador-por-moto__campo--sel{
              font-size: 1rem;
            }
            .v-buscador-por-moto__campo--title{
              font-size: .7rem;
            }


      .v-buscador-por-moto__btn-submit{
        width: 20%;
        top: 25%;
        left: -25%;
      }
        .v-buscador-por-moto__btn-submit svg{
          width: 100%;
          height: auto;
        }


    .v-buscador-por-moto__img-moto{
      width: 20%;
      height: 100%;
    }

}