/*-------------------------------------------*\
  Ban Principal
\*-------------------------------------------*/

.ban__desk{
  display: none;
}

/* Version Mobile Horizontal */
@media (min-width: 640px) {
  
  .ban__desk{
      display: block;
  }
  .ban__mobile{
      display: none;
  }

}

/*-------------------------------------------*\
  Bread Crumb
\*-------------------------------------------*/

.bread-crumb > ul {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem 0;
}
  .bread-crumb li {
      text-transform: uppercase;
      padding-right: .5rem;
      padding-bottom: .5rem;
      display: flex;
      align-items: center;
  }
  .bread-crumb li:after {
      content: '/';
      padding-left: .5rem;
  }

  .bread-crumb li:first-child a {
      font-size: 0;
      display: flex;
      align-items: center;
  }
  .bread-crumb li:first-child a:after{
      content: '';
      
      display: block;
      width: 26px;
      height: 13px;

      background-image: url(/arquivos/icon-home.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
  }

      .bread-crumb .busca-texto-livre-elimina{
          display: none;
      }

/* Version Laptop */
@media (min-width: 1024px) {

  .bread-crumb > ul {
      margin-bottom: 1.5rem;
      margin-top: .3rem;
  }
      .bread-crumb li{
          padding: 0 .5rem .5rem;
      }
      .bread-crumb li:first-child{
          padding-left: 0;
      }

}


/*-------------------------------------------*\
  Vitrinas
\*-------------------------------------------*/

.searchResultsTime,
.sub,
.pager,
.pages .first,
.pages .pgEmpty,
.pages .last{
  display: none;
}

.vitrines .prateleira{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .vitrines .prateleira > ul{
      width: 48%;
      margin-bottom: 1rem;
  }


/* Version Mobile Horizontal */
@media (min-width: 640px) {

  .vitrines .prateleira > ul{
      width: 30%;
  }

}


/* Version Laptop */
@media (min-width: 1024px) {

  .article {
      width: 78%;
  }
      .vitrines .prateleira > ul{
          width: 23%;
      }

}

/*-------------------------------------------*\
  Filtros
\*-------------------------------------------*/

.filtros-vtex,
.v-filtros{
  position: fixed;
  bottom: 0;
  transform: translateY(100%);
}

/* Version Laptop */
@media (min-width: 1024px) {

  .filtros-vtex,
  .v-filtros{
      /* opacity: 0; */
      font-size: 0;
      position: relative;
      bottom: 0;
      transform: translateY(0);
      width: 20%;
  }

}

/*-------------------------------------------*\
  Ordenar Por
\*-------------------------------------------*/

.ordenar{
  position: fixed;
  bottom: 0;
  transform: translateY(100%);
}

/* Version Laptop */
@media (min-width: 1024px) {

  .ordenar{
      position: relative;
      bottom: 0;
      transform: translateY(0);
      margin-bottom: 2rem;
  }
      .ordenar__list{
          display: flex;
          justify-content: space-between;
      }
          .ordenar__titulo{
              color: #323232;
              text-transform: uppercase;
          }
          .ordenar__item{
              width: auto;
              height: auto;
              color: #757575;
          }

}

/*-------------------------------------------*\
  Buscador por Moto
\*-------------------------------------------*/

.buscador-por-moto{
  margin-bottom: 1.5rem;
}
  .buscador-por-moto .desk{
      display: none;
  }

/* Version Mobile Horizontal */
@media (min-width: 640px) {
  
  .buscador-por-moto .mobile{
      display: none;
  }
  .buscador-por-moto .desk{
      display: block;
  }

}